html.gr__localhost(lang="en")
    head
        meta(charset="UTF-8")
        title Profile Page
        link(rel="stylesheet" type="text/css" href="components/Header/HeadMenu.css")
    body(data-gr-c-s-loaded="true")
        #header(style="line-height: 50px;")
            a(href="/home" data-section="home") Домой
            a(href="/create" data-section="create") Создать
            a(href="/profile" data-section="profile" style="float: right;") Профиль
            a(href="/notifications" data-section="notifications" style="float: right;") Уведомления
            a(href="/info" data-section="info" style="float: right;") Информация
            a(href="/mainPage" data-section="mainPage" style="float: right;") Trello
        script(type="module" src="components/Header/headMenu.js")
