.tab {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 0 0 0;
    /*border-radius:15px 15px 0 0;*/
    /*overflow: hidden;*/
    /*border: 1px solid #1b7dbf;*/
    background-color: #f4f5f7;
    border-collapse: collapse;
}

.tabs button {
    height: 100%;
    font-size: 15px;

    color: black;
    cursor: pointer;

    background-color: lightgray;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    display: inline-block;
    font-weight: 700;
    margin: 2px 2px 0;
    padding: 8px 20px;
    text-decoration: none;
}


.tabs button:hover {
    background-color: gray;
}


.tabs button.active {
    background-color: white;
    color: black;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid white;
    border-top: none;
    background: white;
    margin: -6px;
}

.tabcontent h3 {
    text-align-last: left;
}

.word {
    margin: auto;
    max-width: 530px;
    text-align: left;
    background: white;
    padding: 10px;
    font-size: 14px;
    word-wrap: break-word;
}

.tabbed-header {
    background-color: #f4f5f7;
}

.tabbed-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 650px;
    padding: 32px;
    position: relative;
}

.tabcontent hr {
    background-color: rgba(9, 30, 66, .13);
    border: 0;
    height: 1px;
    margin: 16px 0;
    padding: 0;
    width: 100%;
}


.row {
    margin-right: 15px;
}

.col-1-3 {
    width: 33.3333333333%;
    float: left;
}

.col-2-3 {
    width: 66.6666666667%;
    float: left;
}

.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

input {
    display: block;
}

.inputLine {
    text-align-last: left;
    width: 90%;
    background-color: #f9f9f9;
    border: none;
    box-shadow: inset 0 0 0 1px lightgray;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    padding: 8px 0 8px 15px;
}


.aboutYou {
    text-align-last: left;
    width: 90%;
    height: 100px;
    background-color: #f9f9f9;
    border: none;
    box-shadow: inset 0 0 0 1px lightgray;
    display: block;
    margin-bottom: 12px;
    padding: 0 0 0 15px;
}


.saveButton {
    width: 90%;
    height: 40px;
    margin-top: 40px;
    border-radius: 3px;
    background-color: green;
    box-shadow: none;
    border: none;
    color: #fff;
    text-align-last: center;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 12px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 12px;
    color: #0c3953;
}

h3 {
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 12px;
    color: #091e42;
}

textarea {
    resize: none;
    width: 90%;
    height: 50px;
    background-color: #f9f9f9;
    border: none;
    box-shadow: inset 0 0 0 1px lightgray;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    padding: 8px 0 8px 15px;
}

.sorts {
    margin: auto;
    max-width: 800px;
}

.sorts ul {
    list-style: none;
}

.sorts ul li {
    float: left;
    margin: 0 10px;
    vertical-align: middle;
    padding: 10px;
}

.sorts ul li:hover {
    background-color: lightgray;
    padding: 10px;
}

.setting {
    margin: auto;
    max-width: 600px;
    text-align-last: left;
    background: white;
    padding: 10px;
    word-wrap: break-word;
}

.setting a {
    border-radius: 3px;
    display: block;
    margin: 0 0 4px 0;
    padding: 12px;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #0c3953;
}

.setting a:hover {
    background-color: lightgray;
}

.setting h3 {
    margin-top: 40px;
}


.tabs {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

/*.tabs input { display:none; }*/
.tabs .tabcontent {
    display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
}

a.tabs {
    display: block;
    color: black;
}

.tabs > label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
}

.tabs > input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}

#tab_1:checked ~ #Profile {
    display: block;
}

#tab_2:checked ~ #Action {
    display: block;
}

#tab_3:checked ~ #Cards {
    display: block;
}

#tab_4:checked ~ #Settings {
    display: block;
}
