div
    .row
        #col1.column
            img(src='img/hero-a.svg')
        #col2.column
            div
                h1 Мы создали
                h1 Чтобы что
                h1 -то было
            #login
                button(type='button') Начать пользоваться
                div
            #mops
                button(type='button') Показать мопса