div
    .row
        #col1.column
            img(src='static/img/hero-a.svg')
        #col2.column
            div
                h1 Мы создали
                h1 Чтобы что
                h1 -то было

            button(onclick="location.href='#/login';") Начать пользоваться
            //- p Без регистрации и СМС вам доступно только:
            //- button(onclick="document.location.href = \"PUG/index.html\"") Посмотреть на мопса