.cont
    .form.sign-in
        h2 С возвращением
        form(id='in')
            label
                span Email
                input(name='email' type='email' value='aaa@mail.ru')
            label
                span Password
                input(name='password' type='password' value='qwerty')
            label
                p.forgot-pass Забыли пароль? Ничем не можем вам помочь
                .errorArea
            button(type='submit' form='in') Войти
        button.vk-btn
            | Войти через
            span ВКонтакте
    .sub-cont
        .bmstu
            .img__text.m--up
                h2 Первый раз?
                p
                    | Зарегистрируйтесь и откройте для себя
                    | множество новых возможностей!
            .img__text.m--in
                h2 Один из нас?
                p
                    | Если у вас уже есть аккаунт,
                    | просто войдите в систему.
                    | Мы скучали по вам!
            .img__btn
                span.m--up Регистрация
                span.m--in Вход
        .form.sign-up
            h2 Время почувствовать себя как дома,
            form(id='up')
                label
                    span Ваше имя
                    input(name='name' type='text')
                label
                    span Email
                    input(name='email' type='email')
                label
                    span Password
                    input(name='password' type='password')
            .errorArea
            button(type='submit' form='up') Зарегистрироваться
            button.vk-btn
                | связать с аккаунтом
                span ВКонтакте
