#header(style="line-height: 70px;")
    a(href="#/" data-section="home") Домой
    a(href="#/board") Доска
    a(href="#/login" style="float: right;") Войти
    a(href="#/profile" style="float: right;") Профиль
    a(href="#/info" style="float: right;") О нас
