head
    #header
        ul
            li
                a(href="#/" data-section="home") Домой
            li
                a(href="#/board") Доска
            .rightside
                li
                    a(href="#/login") Войти
                li
                    a(href="#/profile") Профиль
                li
                    a(href="#/info") О нас
