* {
  box-sizing: border-box;
}

body {
  font-family: Merriweather, serif;
  padding: 0;
  margin: 0;
}

#app {
  display: grid;
  align-content: space-between;
  justify-items: center;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}
#app h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
#app img {
  max-width: 50vw;
  max-height: 50vh;
  align-self: center;
}
#app button {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #BF360C;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 300px;
  width: 100%;
}
#app button:hover {
  background: #a72f0a;
}
@media (max-width: 768px) {
  #app {
    padding: 1rem;
  }
  #app h1 {
    font-size: 1.25rem;
  }
  #app button {
    font-size: 1rem;
    padding: 0.5rem;
  }
  #app img {
    max-width: 75vw;
    max-height: 75vh;
  }
}
